{{ 'main_collection_banner.css' |  asset_url |  stylesheet_tag }}

<section class="collection-page-banner-wrapper">
  <div class="swiper collection-page-banner">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          <img width="100%" height="100%" src="{{ block.settings.image_slide | image_url }}" alt="">
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const swiper = new Swiper('.collection-page-banner', {
      direction: 'horizontal',
      autoplay: {
      delay: 4000,
      },
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: 'true'
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  });
</script>

{% schema %}
{
  "name": "main_collection_banner",
  "settings": [
    
    ],
  "blocks": [
    {
      "name": "image slide",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_slide",
          "label": "أختر صورة"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "main_collection_banner"
    }
  ]
}
{% endschema %}