{{ 'filtration-system.css' |  asset_url |  stylesheet_tag }}



<section class="filteration-system-wrapper">
    <div class="filteration-system">

    </div>
</section>

{% schema %}
{
    "name": "filtration-system",
    "settings": [
        
        ],
    "presets": [
        {
            "name": "filtration-system"
        }
    ]
}
{% endschema %}