{{ 'main_collection_banner.css' |  asset_url |  stylesheet_tag }}

<h1>to be continued</h1>



{% schema %}
{
  "name": "main_collection_banner",
  "settings": [
    
    ],
  "presets": [
    {
      "name": "main_collection_banner"
    }
  ]
}
{% endschema %}