{{ 'mini-banners.css' |  asset_url |  stylesheet_tag }}

<h2>YES</h2>


{% schema %}
{
    "name": "mini-banners",
    "settings": [
        
        ],
    "presets": [
        {
            "name": "mini-banners"
        }
    ]
}
{% endschema %}