{{ 'product-features.css' |  asset_url |  stylesheet_tag }}

<div class="features-wrapper">
    <div class="features">

        <p class="feature">حافِظ للحرارة</p>
        <p class="feature">أمن للمايكرويف</p>
        <p class="feature">مصنوع من مواد طبيعية</p>
        <p class="feature">سهل التنظيف</p>
        <p class="feature">خفيف الوزن</p>

    </div>
</div>

{% schema %}
{
    "name": "product_features",
    "settings": [
        
        ],
    "presets": [
        {
            "name": "product_features"
        }
    ]
}
{% endschema %}