{{ 'product-features.css' |  asset_url |  stylesheet_tag }}

<div class="features-wrapper">
    <div class="features">
        {% if product.metafields.custom.product_features %}

            {% if product.metafields.heat_perserving.value %}
                <p class="feature">حافِظ للحرارة</p>
            {% endif %}

            {% if product.metafields.microwave_safe.value %}
                <p class="feature">أمن للمكايرويف</p>
            {% endif %}

            {% if product.metafields.eco_friendly.value %}
                <p class="feature">صديق للبيئة</p>
            {% endif %}

        {% endif %}

    </div>
</div>

{% schema %}
{
    "name": "product_features",
    "settings": [
        
        ],
    "presets": [
        {
            "name": "product_features"
        }
    ]
}
{% endschema %}