{{ 'product-2.css' |  asset_url |  stylesheet_tag }}
{% unless product.images == 1 %}
    <section class="product-image-gallery-wrapper next-section">
        <div class="swiper product-image-gallery">
            <div class="swiper-wrapper images-wrapper">
                
                    {% for image in product.images  %}
                        <div class="swiper-slide">
                            <div class="image-container"><img width="100%" height="100%" src="{{ image.src |  image_url  }}" alt="{{ image.alt |  escape }}" class="image"></div>
                        </div>
                    {% endfor %}

            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </section>
{% endunless %}


<script>

document.addEventListener("DOMContentLoaded", function () {
  const swiper = new Swiper('.swiper', {
    direction: 'horizontal',
    loop: true,
    autoplay: {
      delay: 4000
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true 
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    }
  });
});

</script>


{% schema %}
{
    "name": "product-2",
    "settings": [
        
        ],
    "presets": [
        {
            "name": "product-2"
        }
    ]
}
{% endschema %}