{{ 'product-2.css' |  asset_url |  stylesheet_tag }}


{% if product.images %}
    <section class="product-image-gallery-wrapper">
        <div class="product-image-gallery">
            <div class="images-wrapper">
                <img class="image" src="{{ product.images[1] |  image_url }}" alt="">
                <div class="image-grid">
                  <img class="image-1" src="{{ product.images[2] |  image_url }}" alt="">
                  <img class="image-2" src="{{ product.images[3] |  image_url }}" alt="">
                </div>
            </div>
        </div>
    </section>
  {% endif %}


{% schema %}
{
    "name": "product-2",
    "settings": [
        
        ],
    "presets": [
        {
            "name": "product-2"
        }
    ]
}
{% endschema %}