<div style="clear: both"></div>


<div
  id="judgeme_product_reviews {% unless product.images.size < 2 %}next-section{% endunless %}"
  class="jdgm-widget jdgm-review-widget "
  data-product-title="{{ product.title | escape }}"
  data-id="{{ product.id }}"
  data-auto-install="false"
>
  {{ product.metafields.judgeme.widget }}
</div>


{% schema %}
{
  "name": "reviews",
  "settings": [
    
    ],
  "presets": [
    {
      "name": "reviews"
    }
  ]
}
{% endschema %}