.collection-page-banner-wrapper {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}

.collection-page-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 75%;
    border-radius: 20px;
    height: max-content;
}


.swiper-wrapper {
    height: 350px;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.swiper-slide img {
    object-fit: cover;
    object-position: center;
}

.swiper-button-next {
    margin-left: 20px;
    text-shadow: rgba(0, 0, 0, 0.664) 1px 1px 2px;
}

.swiper-button-prev {
    margin-right: 20px;
    text-shadow: rgba(0, 0, 0, 0.664) 1px 1px 2px;
}

.swiper-pagination span.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    box-shadow: rgba(0, 0, 0, 0.664) 1px 1px 1px;
}

.swiper-pagination span.swiper-pagination-bullet-active {
    width: 10px;
    height: 10px;
    box-shadow: rgba(0, 0, 0, 0.664) 1px 1px 1px;
}


/* responsiveness */


@media (max-width: 1200px) {

    .swiper {
        height: 250px;
    }
}

@media (max-width: 768px) {

    .swiper {
        width: 90dvw;
        height: 150px;
    }
}


