.swiper {
    width: 100%;
    height: 500px;
}

.mega_collections {
    display: flex;
}

.mega_collection {
    background-color: black;
    height: 500px;
    width: 500px;
    overflow: hidden;
}

.mega_collection_content {
    width: 100%;
}