.main-product-wrapper {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-product {
  width: 80dvw;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_image {
  width: 500px;
  height: max-content;
}

.product-info-container {
  width: 60%;
}